<footer>
  <div class="section flex">
    <div>
      <div class="title">产品与服务</div>
      <a href="https://juejin.im/post/5d6c88726fb9a06b0e54ab35" target="_blank">产品介绍</a>
      <a href="https://www.yuque.com/alsmile/topology/aboutus#gWc5X" target="_blank">技术支持</a>
    </div>
    <div>
      <div class="title">开源与社区</div>
      <a href="https://github.com/le5le-com" target="_blank">Github官网</a>
      <a href="https://github.com/le5le-com/topology" target="_blank">核心库</a>
      <a href="https://github.com/le5le-com/topology-react" target="_blank">React示例</a>
      <a href="https://github.com/le5le-com/topology-vue" target="_blank">Vue示例</a>
      <a href="https://github.com/le5le-com/topology-es5-demo" target="_blank">Javascript示例</a>
    </div>
    <div>
      <div class="title">帮助文档</div>
      <a href="https://www.yuque.com/alsmile/topology/installation" target="_blank">开发教程</a>
      <a href="https://www.yuque.com/alsmile/topology/umsiq3" target="_blank">API文档</a>
      <a href="https://juejin.im/user/58b1336c570c3500696559f8/posts" target="_blank">专栏教程</a>
      <a href="https://www.yuque.com/alsmile/topology/faq" target="_blank">常见问题</a>
    </div>
    <div>
      <div class="title">关于我们</div>
      <a href="https://www.yuque.com/alsmile/topology/aboutus" target="_blank">我们与规划</a>
      <a href="http://topology.le5le.com/assets/img/topology_wechat.jpg" target="_blank">微信技术大群</a>
      <a href="http://topology.le5le.com/assets/img/topology_wechat2.jpg" target="_blank">微信技术群3</a>
      <div>Email: alsmile123@qq.com</div>
    </div>
    <div>
      <div class="title">微信关注</div>
      <div>
        <img src="http://topology.le5le.com/assets/img/wechat.png">
      </div>
    </div>
  </div>
</footer>
